body {
    background-color: #000;
    display: block;
    margin: 8px;
   }
   .header {
    text-align: center;
    color: white;
    display: block;
    }
    .main {
        text-align: center;
        display: block;
    color: white;
    }
   
    .p {
        font-size: 50px;
    }
    .text1 {
        text-align: left;
        border-top: 100px solid #000000;
        margin-left: 100px;
        margin-right: 800px;
        display: block;
    }
    .text2 {
        text-align: right;
        border-top: 100px solid #000000;
        margin-left: 1000px;
        margin-right: 100px;
        display: block;
    }
    .text3 {
        text-align: center;
        border-top: 50px solid #000000;
        display: block;
    }
    .footer {
        text-align: center;
        color: white;
        border-top: 5px solid hsl(0, 0%, 100%);
        background-color: #000;
        display: block;
    }
    footer {
        display: block;
    }
    