body {
    border-style: solid;
    background-color: #000;
    display: block;
    margin: 8px;
    display: flex;
    flex-direction: column;
   }
   .header {
    text-align: center;
    color: white;
    display: block;
    }
    .main {
        text-align: center;
        display: block;
    color: white;
    }
   
  
    .text1 {
        text-align: center;
        border-top: 100px solid #000000;
        display: block;
    }
    .text2 {
        text-align: center;
        border-top: 100px solid #000000;
        ;
        display: block;
    }
    .text3 {
        text-align: center;
        border-top: 50px solid #000000;
        display: block;
    }
    .photo{
        background-position: center;
        border: 10px solid #000000;
        
        

    }
    .footer {
        text-align: center;
        color: white;
        border-top: 5px solid hsl(0, 0%, 100%);
        background-color: #000;
        display: block;
    }
    footer {
        display: block;
    }
@media screen and (max-width:750px) {
    .photo{
        
        width: 200px;
    
    }
}